 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #aaa9a9;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
 }
 
 .login-container {
     max-width: 400px;
     height: 220px;
     padding: 20px;
     background: #f7f43d;
     border-radius: 5px;
     box-shadow: 0 0 10px rgb(0, 0, 0);
     text-align: center;
 }
 
 #login-form {
     padding: 30px;
     justify-content: center;
 }
 
 input[type="text"],
 input[type="password"] {
     width: 95%;
     padding: 5px;
     /* margin: 10px 0; */
     margin-bottom: 25px;
     border: 1px solid #0000004f;
     border-radius: 3px;
     font-size: 20px;
 }
 
 button {
     padding: 3px;
     background-color: #9ac72a;
     color: #000000;
     border: 2px solid #000000;
     border-radius: 4px;
     cursor: pointer;
     display: inline-block;
     /* Ensure the button respects text-align */
     font-weight: bold;
     font-size: 20px;
 }
 
 #error-msg {
     font-weight: bold;
     color: red;
     display: none;
 }